/* navigation/base page code */
:root{
    --bar-height: 72px;
    --color-primary:#ee8fd9;
    --color-primary-light:#fdb250;
    --bar-color:#ee8f97;
}

body{
    margin:0px;
    font-family:"Quicksand", sans-serif;
    background:linear-gradient(to bottom right, var(--color-primary),var(--color-primary-light));
    height: 1000px;
}

.header{
    display: flex;
    align-items: center;
    padding-top:var(--bar-height);
    box-sizing: border-box;
}

.events, .contacts, .calendar, .profile, .home{
    margin-left: 50px;
    color: #fff;  
}

hr{
    border: 1px solid white;
    margin-top:10px;
}

.events__description, .contacts__description, .calendar__description, .profile__description, .home__description{
   justify-content: center;
   margin-left: 40px;
   margin-right: 40px;
   font-size: 20px;
}



.events__title, .contacts__title, .calendar__title, .profile__title, .home__title{
    font-family: 'Abril Fatface', cursive;
    color: #fff;
    font-size: 80px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 10px;
    justify-content: center;
    margin-bottom: 0%;
    text-align: center 
}

.bar{
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    width:100%;
    height: var(--bar-height);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.15);
    transition: background 0.15s;
}

.bar--bg{
    background: var(--bar-color);
}

.bar__content{
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.bar__logo{
    height:90%;
    margin-left:50px;
    margin-top: 9px;
    margin-bottom: 6px;
}

.bar__nav-toggle{
    cursor: pointer;
}

.bar__nav-toggle > i {
    color:rgb(255, 255, 255);
    font-size: 2em;
}


#inpNavToggle{
    display:none; 
}
#inpNavToggle:checked ~ .nav{
    display:flex;
}

.nav{
    display: none;
    flex-direction: column;
    position:fixed;
    top:var(--bar-height);
    left:0;
    width:100%;
    height:calc(100vh - var(--bar-height));
    padding:32px;
    background:rgb(39, 39, 39);
    box-sizing: border-box;
}

.nav__link{
    font-weight: 500;
    padding: 16px 0;
    text-decoration: none;
    color:rgb(255, 255, 255);
    border-bottom: 1px solid rgba(133, 133, 133, 0.486);
}

.nav__link:hover{
    opacity: 0.8;
}


@media screen and (min-width:767px){
    .bar__nav-toggle{
        display:none;
    }

    .nav{
        display:initial;
        position:static;
        width:unset;
        height:unset;
        padding:unset;
        background:transparent;
    }

    .nav__link{
        border-bottom:none;
        margin-right: 100px;
        display: inline-flex;
        font-size: 20px;
    }
    .nav__link:not(:last-of-type){
        margin-right:24px;
    }
}

/* events page code */

#app{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding:24px;
    gap:24px;
    
}

.note{
    height:200px;
    box-sizing: border-box;
    padding:16px;
    border:none;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(75, 75, 75, 0.103);
    resize:none;
    font-family: 'Quicksand', sans-serif;
    font-size:16px;
}

.add-note{
    height:200px;
    border:none;
    outline:none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 120px;
    color: rgb(255, 255, 255);
    transition: background 0.2s;
    margin-left: 30px;
    width: 200px;
}

.add-note:hover{
    background: rgba(0, 0, 0, 0.2);
}



/*calendar css*/

body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: #FFFCFF;
  }
  button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgb(230, 159, 159);
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
  
  #header {
    padding: 10px;
    color: #f7447a;
    font-size: 26px;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }
  #header button {
    background-color:#c95a85;
  }
  #container {
    width: 770px;
  }
  #weekdays {
    width: 100%;
    display: flex;
    color: #ff5379;
  }
  #weekdays div {
    width: 100px;
    padding: 10px;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: linear-gradient(to bottom right, var(--color-primary),var(--color-primary-light));
    margin: 5px;
    box-shadow: 0px 0px 6px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  .day:hover {
    background-color: #fc7a80;
  }
  
  .day + #currentDay {
    background-color: #f5797f;
  }
  .event {
    font-size: 12px;
    padding: 3px;
    background-color: #ff6600;
    color: rgb(255, 253, 139);
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .padding {
    cursor: default !important;
    background-color: linear-gradient(to bottom right, var(--color-primary),var(--color-primary-light)) !important;
    box-shadow: 0px, 0px, 3px rgb(88, 88, 88) !important;
  }
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color:#f16477;
    box-shadow: 0px 0px 3px rgb(88, 88, 88);
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: 'Quicksand',sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
    float:right;
  }
  #saveButton, #closeButton {
    background-color: #92d1a7;
  }
  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 130vh;
    position: absolute;
    background-color: rgba(54, 52, 52, 0.8);
  }

/*contacts css*/


.cm-table-container{
    font-size: 20px;
    margin-top: 35px;
    width: 80%;
    margin:auto;
}
.cm-table-row{
    display: flex;
}
#SortButton{
    color: rgb(255, 255, 255);
    background-color:rgb(255, 102, 135);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.15);
    font-family:'Quicksand', sans-serif;
    height: 60px;
    width: 70px;
    font-size: 15px;
    margin-left:70px ;
}

.cm-table-column{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 2px;
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:150px;
}
.cm-name{
    flex-basis: 100%;
    color:rgb(228, 98, 120);
}

.cm-email{
    flex-basis: 100%;
    color: rgb(228, 98, 120);
}

.cm-birthday{
    flex-basis: 100%;
    color:rgb(228, 98, 120);
}
.cm-header {
    background-color: rgb(255, 255, 255);
    font-weight: bolder;
    color: rgb(228, 98, 120);
    text-align: center;
}



.cm-edit, .cm-delete{
    flex-basis: 20%;
    text-align: center;
    cursor: pointer;
    color:rgb(228, 98, 120);
}


.cm-add-entry{
    flex-basis: 8%;
    text-align: center;
    cursor: pointer;
}

#newPersonModal{
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    z-index: 99;
    top: 50px;
    position: absolute;
    margin-left: calc(50% - 250);
    background-color: rgb(255, 138, 157);
    text-align: center;
    justify-content: center;
    margin-left: 400px;
    margin-top: 200px;
}

#newPersonModal input{
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    border: 3px;
    width: 95%;
}

.input-err{
    background-color: rgb(255, 255, 255);
    outline-style: groove;
    outline-color: #ff0505;
}

#backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    z-index: 50;
    top: 0;
    left: 0;
}

#newPersonSubmitButton{
    background-color: rgb(101, 228, 150);
    float:right;
}

#newCancelButton{
    background-color: rgb(231, 77, 77);
    float: left;
}

#cmsTableContainer{
    justify-content: center;
}

button{
    padding: 15px;
    border-radius: 5px;
    border: none;
    float: right;
    margin: 5px;
    cursor: pointer;
}
button:hover{
    padding: 13px;
}

.disable-modal{
    visibility: hidden;
}

.enable-modal{
    visibility: visible;
}


i{
    pointer-events: none;
}

@media screen and (max-width: 800px) {
    .cm-table-container,.cm-table-row,.cm-table-column,::backdrop,.cm-name,.cm-email,.cm-birthday,.cm-add-entry,.cm-edit,.cm-delete,.disable-modal,.enable-modal{
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
